:root{
    --black-color:black;
    --gray-color:#4A3F3F;
    --brown-color:#4A4040;
    --gray2-color:#8B8484;
    --white-color:#F6F2F2;
    --text-color:#776E6E;
    --background-color: rgb(248, 201, 209);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    background-image: url(./img/bgi.jpeg);
}
.header{
    font-family: "Island Moments", cursive;
    box-shadow: 1px 1px 4px 1px var(--gray-color);
}
.header-div{
    font-size: 30px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.header-nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.header-list{
    display: flex;
    font-size: 2vw;
    color: var(--black-color);
    justify-content: space-between;
    width: 100vw;
    align-content: stretch;
    margin: 0 auto;
    padding-left: 15vw;
    padding-right: 15vw;
    flex-wrap: wrap;
}
.header-item{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link{
    text-decoration: none;
}
.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brown-color);
    font-family: "Irish Grover", system-ui;
    font-size: 30px;
}
.footer-container{
    display: flex;
    justify-content: center;
}
.from-input{
    width: 30vw;
    height: 8vh;
    border: none;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    font-family: "Irish Grover", system-ui;
    font-size: 20px;
    padding-left: 2vw;
    color: var(--black-color);
}
.input{
    margin-right: 2vw;
}
.from-textarea{
    border: none;
    font-size: 20px;
    padding-left: 2vw;
    padding-top: 2vh;
    font-family: "Irish Grover", system-ui;
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: var(--white-color);
    color: var(--gray2-color);
    width: 10vw;
    height: 7vh;
    border: none;
    font-family: "Irish Grover", system-ui;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5vh;
    border-radius: 1vh;
}
.footer-button{
    display: flex;
    justify-content: center;
}